In [1]:
import SimpleITK as sitk
import numpy as np
import pandas as pd
import csv
import os

In [22]:
# Set data split to 'train', 'test', or 'validation'

data_split = 'validation'
csv_path = f'candidates_{data_split}.csv'

df = pd.read_csv(csv_path)
df.head()

,Unnamed: 0,Unnamed: 0.1,seriesuid,coordX,coordY,coordZ,diameter_mm,voxel_x,voxel_y,voxel_z,voxel_d
0,0,0,1.3.6.1.4.1.14519.5.2.1.6279.6001.271220641987...,-108.438374,-118.894465,-221.963830,10.056626,41.5,42.5,303.623105,6.913930
1,1,1,1.3.6.1.4.1.14519.5.2.1.6279.6001.149041668385...,58.512663,75.794013,-279.292424,15.992350,39.5,36.5,28.483030,11.244621
2,2,2,1.3.6.1.4.1.14519.5.2.1.6279.6001.206097113343...,67.246595,-122.552497,-155.520046,20.412126,36.5,22.5,218.079954,13.953601
3,3,3,1.3.6.1.4.1.14519.5.2.1.6279.6001.168833925301...,-106.081573,-56.189209,-179.184765,7.880768,34.5,41.5,84.587615,5.541165
4,4,4,1.3.6.1.4.1.14519.5.2.1.6279.6001.168833925301...,95.992672,75.810918,-193.007174,4.143870,36.5,42.5,77.676410,2.913659

In [23]:
# Note- the function requires that you have ran the cell above!

def convert_diameter(index):
    
    seriesuid = df.loc[index, 'seriesuid']
    filename = f'{data_split}_data_raw/{seriesuid}.mhd'
    itkimage = sitk.ReadImage(filename)
    spacing = np.array(list(reversed(itkimage.GetSpacing())))[2]
    
    d_mul = df.loc[index, 'diameter_mm']*spacing
    d_div = df.loc[index, 'diameter_mm']/spacing
    
    return d_mul, d_div

In [24]:
for i in range(df.shape[0]):
    df.loc[i, 'voxel_d'] = convert_diameter(i)[0]
    df.loc[i, 'voxel_d2'] = convert_diameter(i)[1]

In [21]:
df.to_csv(csv_path)